<header>
    <div class="container mt-4">
        <h1 class="text-center">
            Web Design Prototype Segmentation:<br>
            <small class="text-muted">Using Fast-RCNN to find design elements</small>
        </h1>
    </div>
    <div class="container mt-4">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item active" href="#">Page - Contact Us</a>
              <a class="dropdown-item" href="#">Page - About</a>
              <a class="dropdown-item" href="#">Page - Products</a>
              <a class="dropdown-item" href="#">Page - Homepage</a>
              <a class="dropdown-item" href="#">Page - Blog</a>
            </div>
        </div>
    </div>
</header>